html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.element{
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}



@keyframes stretch{
    0%{
        transform: scale(.3);
        background-color: rgb(0, 26, 255);
        border-radius: 100%;
    }
    50%{
        background-color: rgb(148, 105, 26);
    }
    100%{
        transform: scale(1.9);
        background-color: yellow;
    }
}